@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --orange:#ffa500;
    /*--box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    -o-border:.2rem solid rgba(0,0,0,0.1) ;
    --outline:.1rem solid rgba(0,0,0,0.1) ;
    --outline-hover:.2rem solid var(--black);*/
}

body{
    font-family:'poppin', sans-serif ;
}

html{
    font-size: 70%;
    overflow-x:hidden ;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section
{
    padding: 2rem 9%;
}
/* header*/
.heading{
    text-align: center;
    padding: 2.5rem 0;
}
.heading span
{
    font-size:3.5rem ;
    background: rgba(255, 165,0, 0.2);
    color: var(--orange);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
}
.heading span.space{
    background: none;
}
header{
    position: fixed;
    top:0 ;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 2rem 9%;
    z-index: -10;

}
header .logo{
    font-size: 2.5rem;
    font-weight:bolder ;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: var(--orange);
}
header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0.8rem;
   
}
header .navbar a:hover{
    color: var(--orange);
}
.carousel-caption{
    z-index: 1000;
    color: #e55d00;
    font-size: 3cm;
}



.hotel_bx{
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.hotel_bx .hotelFilters , .hotelsDetails{
    width: 200px;
    position: relative;
    /*border: 1px solid #000;*/
    height: fit-content;
}
.hotel_bx .hotelsDetails{
    width: calc(100%);
    
}

.hotel_bx .hotelFilters .filterCard h4{
    font-weight: 600;
    color: #000;
    margin-top: 15px;
}
.hotel_bx .hotelFilters .filterCard li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px; ;
}
.hotel_bx .hotelFilters .filterCard li input{
    width: 17px;
    height: 17px;
}
.hotel_bx .hotelFilters .filterCard li span{
    font-size: 15px;
    margin-left: 5px;
    color: #5f5f5f;
    font-weight: 500;
}
.hotel_bx .hotelsDetails .hotels .card{
    width: calc(100% -40px);
    background: #fff;
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.hotel_bx .hotelsDetails .hotels .card .img_bx , .content_bx , .price_bx{
    width: 160px;
    padding: 10px;
}
.hotel_bx .hotelsDetails .hotels .card .img_bx img{
    border-radius: 8px;
    margin: 0.6px;
    width: 100%;
}
.hotel_bx .hotelsDetails .hotels .card .img_bx .subImages img{
    width: 31%;
    height: 25px;
}
.hotel_bx .hotelsDetails .hotels .card .content_bx {
    width: calc(100% - 320px);
}
.hotel_bx .hotelsDetails .hotels .card .content_bx h5 , h4 , p{
    margin: 0;
}
.hotel_bx .hotelsDetails .hotels .card .content_bx h5{
    margin-top: 5px;
}